@tailwind base;
@tailwind components;
@tailwind utilities;


$scrollbar-width: 4px;
$track-bg: #1C68AA;
$thumb-bg: #1C68AA;
$thumb-hover-bg: #555;
$border-radius: 20px;

.App {
text-align: center;
}

.App-logo {
height: 40vmin;
pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
}
}

.App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #61dafb;
}

@keyframes App-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}


// ::-webkit-scrollbar {
//     width: 2px;
//     background: #111827;
//   }
  
//   ::-webkit-scrollbar-thumb {
//     background: #1C68AA;
//     border-radius: 10px;
//   }

.scrollDesign{

    // Webkit-based browsers (Chrome, Edge, Safari)
  &::-webkit-scrollbar {
    width: $scrollbar-width;
    background: #111827;

  }


  &::-webkit-scrollbar-thumb {
    background: $thumb-bg;
    border-radius: $border-radius;

    &:hover {
      background: $thumb-hover-bg;
    }
  }

}